<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
<div class="content">
    <a href="/opvullen">Opvullen database</a>
    <a href="/personeelsleden">Personeelsleden beheren</a>
    <a href="/bestellingen">Bestellingen beheren</a>
    <a href="/NewTakeAway">nieuwe TakeAway bestelling</a>
    <h3 th:text="${message}">

    </h3>
    <br>
    <a href="/testDecoratorAndObserver">Test uitbreiding observer/decorator patroon</a>


</div>
<div class="footer">
    <p>Iebe Maes - APP/BI A</p>
</div>
</body>
</html>
